body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/3. Background/Layers/5. Water/D1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family:'Luckiest Guy' !important;
    color: white !important;
}

canvas {
    background-color: black;
    box-shadow: 0px 0px 26px 10px white;
    display: block;

}
h1 {
    letter-spacing: 3px;
    text-shadow: 4px 6px 2px rgba(0, 0, 0, 0.5);
    top: 12px;
    left: calc(40% - 80px);
    font-size: 70px !important;
    position: absolute;
    animation: move 3s ease-in-out infinite; 
}
.game-content {
    position: relative;
}
.start-screen {
    background-image: url('img/3. Background/Mesa de trabajo 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.menu {
    position: relative;
    height: 100%;
    width: 100%;
}
.start {
    bottom: 56px;
    right: calc(50% - 220px);
    width: 170px;
    cursor: pointer;
    background-color: #7fffe0;
    color: #531a82 !important;
    font-size: 32px;
    border-radius: 14px;
    border: 3px solid white;
}
.start:hover {
    background-color: #531a82;
    color: white !important;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}

.start:active {
    background-color: #431669;
}
.help {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #7fffe0;
    border-radius: 50px;
    color: #531a82;
    border: 3px solid white;
    font-size: 16px;
    cursor: pointer;
}
.help:hover {
    background-color: #531a82;
    color: white !important;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.help:active {
    background-color: #431669;
}
.instructions {
    background-image: url('img/3. Background/Layers/5. Water/D1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
}

.lose-screen {
    top: 0;
    height: 100%;
    width: 100%;
}
.game-over-img {
    height: 56px;
    top: 48px;
    right: 154px;
    
}
.try-again {
    background-color: #7fffe0;
    color: #531a82 !important;
    width: 170px;
    font-size: 32px;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    bottom: 48px;
    right: 272px;
}
.try-again:hover {
    background-color: #531a82;
    color: white !important;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.try-again:active {
    background-color: #431669;
}
.win-screen {
    height: 100%;
    width: 100%;
    background-image: url('img/3. Background/Layers/5. Water/D1.png');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
}
.winning-img {
    width: 100%;
    height: 100%;
}
.restart {
    background-color: #7fffe0;
    color: #531a82 !important;
    width: 144px;
    font-size: 24px;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    bottom: 48px;
    left: 280px
}
.restart:hover {
    background-color: #531a82;
    color: white !important;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.restart:active {
    background-color: #431669;
}
.score {
    width: 64px;
    height: 64px;
    background-color: #7fffe0;
    border-radius: 50px;
    color: #531a82;
    border: 3px solid white;
    font-size: 16px;
    cursor: pointer;
    top: 20px;
    left: 20px;
}
.score:hover {
    background-color: #531a82;
    color: white !important;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.score:active {
    background-color: #431669;
}
.result-screen {
    width: 300px;
    height: 140px;
    top: 20px;
    right: 204px;
}
.barrier {
    width: 300px;
}
.mute {
    height: 32px;
    top: 16px;
    right: 90px;
    z-index: 2;
    filter: invert(100%); 
    filter: drop-shadow(30px 10px 4px #4444dd);
    cursor: pointer;
}
.coin {
    height: 56px;
}
#finalScore {
    top: 35px;
    right: 108px;
    font-size: 24px;
}
.turn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    z-index: 3;
    display: none;
}
.message-box {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #7fffe0d4;
    color: #531a82 !important;
    border: 3px solid #ffffffcf;
}
.screen-mode {
    height: 28px;
    top: 18px;
    z-index: 2;
    right: 140px;
    cursor: pointer;
}
.hover-buttons:hover {
    background-color: #531a82;
    color: white;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.hover-buttons:active {
    background-color: #431669;
}
/* ---------------------------- help-section ---------------------------------- */
.back {
    background-color: #7fffe0;
    width: 33px;
    height: 32px;
    color: #531a82;
    border-radius: 30px;
    border: 2px solid white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    cursor: pointer;
}
.back:hover {
    background-color: #531a82;
    color: white;
    box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.8);
}
.back:active {
    background-color: #431669;
}
.movement {
    width: 100%;
    height: 100%;
}
.sharkie-movement {
    width: 260px;
}
.width-50 {
    width: 50%;
}
.arrow-keys {
    width: 170px;
}
.mt-80 {
    margin-top: 80px;
}
.fs-32 {
    font-size: 32px;
}
.info-buttons {
    background-color: #7fffe0;
    font-size: 24px;
    color: #531a82;
    border: 3px solid white;
    width: 80px;
    cursor: pointer;
}
.attack-buttons {
    background-color: #7fffe0;
    font-size: 40px;
    color: #531a82;
    border: 3px solid white;
    width: 67px;
    cursor: pointer;
}
.fish-info{
    width: 92px;
    margin-top: 50px;
    margin-left: -72px;
}
.space {
    width: 211px;
}
.jellyfish-info {
    width: 92px;
    margin-top: 50px;
    margin-left: -40px;
}
.endboss-info {
    width: 199px;
    margin-top: -28px;
    margin-left: -41px;

}
/* ---------------------------------------------------------------------------------------------- */
@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); 
    }
    100% {
        transform: translateX(0);
    }
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .lose-screen {
        width: 100%;
    }
    .win-screen {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .try-again {
        right: 255px;
    }
}

@media (max-width: 700px) {
    .sharkie-movement {
        width: 224px;
    }
    .arrow-keys {
        width: 144px;
    }
    .jellyfish-info {
        width: 80px;
        margin-top: 43px;
        margin-left: -34px;
    }
    .endboss-info {
        width: 174px;
        margin-top: -28px;
        margin-left: -41px;
    }
    
}
@media (max-width: 666px) {
    .turn {
        display: flex;
    }
    h1 {
        font-size: 64px !important;
    }
    .game-over-img {
        height: 50px;
    }
    .restart {
        left: 256px;
    }
    .barrier {
        width: 256px;
    }
    .result-screen {
        width: 256px;
        right: 182px;
    }
    .coin {
        height: 48px;
    }
    #finalScore {
        top: 30px;
        right: 84px;
        font-size: 20px;
    }
    
    .fs-responsive {
        font-size: 28px;
    }
    
}

@media (max-width: 620px) {
    .start {
        font-size: 24px;
        width: 120px;
        bottom: 48px;
        right: 148px;
    }
    .help {
        font-size: 14px;
        width: 50px;
        height: 50px;
    }
    .mute {
        height: 28px;
    }
    h1 {
        font-size: 56px !important;
    }
    .restart {
        font-size: 20px;
        left: 245;
        width: 120px;
    }
    .score {
        width: 56px;
        height: 56px;
        font-size: 14px;
        top: 10px;
        left: 10px;
    }
    .sharkie-movement {
        width: 196px;
    }
    .arrow-keys {
        width: 120px;
    }
    .fs-32 {
        font-size: 28px;
    }
    .attack-buttons {
        font-size: 32px;
        width: 57px;
    }
    .fish-info {
        width: 70px;
        margin-left: -58px;
    }
    .screen-mode {
        right: 133px;
        height: 25px;
    }
    .jellyfish-info {
        width: 63px;
        margin-top: 32px;
        margin-left: -27px;
    }
    .space {
        width: 190px;
    }
    .endboss-info {
        width: 156px;
        margin-top: -30px;
        margin-left: -30px;
    }
}
@media (max-width: 570px) {
    .start {
        font-size: 16px;
        width: 88px;
        bottom: 40px;
        right: 120px;
    }
    .help {
        font-size: 10px;
        width: 40px;
        height: 40px;
        right: 10px;
        top: 10px;
    }
    .mute {
        height: 20px;
        right: 66px;
    }
    h1 {
        font-size: 48px !important;
        left: 144px;
    }
    .game-over-img {
        height: 38px;
    }
    .restart {
        bottom: 32px;
        left: 220px;
    }
    .barrier {
        width: 220px;
    }
    .result-screen {
        width: 190px;
    }
    .coin {
        height: 40px;
    }
    #finalScore {
        top: 30px;
        right: 48px;
        font-size: 16px;
    }
    .sharkie-movement {
        width: 170px;
    }
    .arrow-keys {
        width: 104px;
    }
    .fs-32 {
        font-size: 24px;
    }
    .info-buttons {
        font-size: 20px;
    }
    .attack-buttons {
        font-size: 28px;
        width: 50px;
    }
    .fish-info {
        width: 60px;
        margin-top: 37px;
        margin-left: -46px;
    }
    .screen-mode {
        right: 100px;
        height: 19px;
        top: 17px;
    }
    .jellyfish-info {
        width: 54px;
        margin-top: 25px;
        margin-left: -26px;
    }
    .space {
        width: 160px;
    }
    .endboss-info {
        width: 144px;
        margin-top: -35px;
        margin-left: -26px;
    }
    .fs-responsive {
        font-size: 20px;
    }
    .subline {
        font-size: 12px;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 40px !important;
        left: 120px;
    }
    .message-box {
        font-size: 12px;
        padding: 4px 12px;
    }
    .restart {
        font-size: 16px;
        width: 96px;
        left: 188px;
    }
    .barrier {
        width: 160px;
    }
    .result-screen {
        width: 160px;
        right: 130px;
    }
    .coin {
        height: 32px;
    }
    #finalScore {
        top: 16px;
        font-size: 13px;
    }
    .sharkie-movement {
        width: 120px;
    }
    .arrow-keys {
        width: 70px;
    }
    .fs-32 {
        font-size: 16px;
    }
    .info-buttons {
        font-size: 16px;
        width: 64px;
    }
    .attack-buttons {
        font-size: 24px;
        width: 43px;
    }
    .fish-info {
        width: 36px;
        margin-top: 22px;
        margin-left: -34px;
    }
    .jellyfish-info {
        width: 34px;
        margin-top: 18px;
        margin-left: -15px;
    }
    .space {
        width: 120px;
    }
    .endboss-info {
        width: 116px;
        margin-top: -48px;
        margin-left: -15px;
    }
    .mt-80 {
        margin-top: 50px;
    }
    .subline {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .start {
        font-size: 16px;
        width: 88px;
        bottom: 32px;
        right: 80px;
    }
    .help {
        font-size: 9px;
        width: 34px;
        height: 34px;
    }
    .mute {
        height: 16px;
        right: 56px;
    }
    h1 {
        font-size: 32px !important;
        left: 115px;
    }
    .game-over-img {
        height: 24px;
        right: 140px;
    }
    .score {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
    .sharkie-movement {
        width: 80px;
    }
    .arrow-keys {
        width: 50px;
    }
    .info-buttons {
        font-size: 12px;
        width: 64px;
    }
    .attack-buttons {
        font-size: 20px;
        width: 37px;
    }
    .fish-info {
        width: 21px;
        margin-top: 17px;
        margin-left: -22px;
    }
    .jellyfish-info {
        width: 21px;
        margin-top: 13px;
        margin-left: -10px;
    }
    .endboss-info {
        width: 87px;
        margin-top: -25px;
        margin-left: -7px;
    }
    .fs-responsive {
        font-size: 14px;
    }
    .subline {
        font-size: 8px;
    }
    .mt-responsive {
        margin-top: 30px;
    }
}

@media only screen and (max-height: 400px) {
    canvas {
        height: 100vh;
    }
    .game-content {
        height: 100vh;
    }
    .screen-mode {
        right: 86px;
        height: 15px;
    }
}